/* 노멀라이징 */
*{
  margin: 0 ;
  padding: 0 ;
}
ul , li {
  list-style: none ;
}
a{
  color: inherit ;
  text-decoration: none ;
}
/* 라이브러리 */
.cell{
  float: left ;
}
.cell-r{
  float: right ;
}
.row::after{
  display: block;
  clear: both;
  content:"";
}
/* 스타일 */
/* @font-face {
  font-family: 'BMHANNAPro';
  scr: url('../font/BMHANNAPro.woff') format('woff');
} */
.con {    
  width: 1180px;
  margin: 0 auto;
}
/* top_bar_wrap st */
.top_bar_wrap {
  width: 100%;
  line-height: 72px;
  background-color: #fff;
  position: fixed;
  z-index: 99999;
  text-align: center;
}
.top_bar_wrap > .top_bar > .logo_box {
  height: 72px;
  width: 115px;
  position: relative;
  margin-right: 20px;
}
.top_bar_wrap > .top_bar > .logo_box > a > svg {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.top_bar_wrap > .top_bar > .nav_box {
  display: inline-block;
  vertical-align: top;
}
.top_bar_wrap > .top_bar > .nav_box > ul > li {
  padding: 0 17px;
  font-size: 15px;
}
.top_bar_wrap > .top_bar > .nav_box > ul > li:hover {
  font-weight: bold;
}
.top_bar_wrap > .top_bar > .right > .link_box > .link > li {
  padding: 0 12px;
}
.top_bar_wrap > .top_bar > .right > .link_box > .link > li > a > p {
  font-size: 12px;
  display: inline-block;
}
.top_bar_wrap > .top_bar > .right > .link_box > .link > li > a > svg {
  width: 8px;
  height: 8px;
  display: inline-block;
}
.top_bar_wrap > .top_bar > .right > .link_box > .lang > li > a {
  font-size: 12px;
  font-weight: bold;
  width: 36px;
  display: inline-block;
  text-align: center;
}
.top_bar_wrap > .top_bar > .right > .link_box > .lang > li {
  color: #d6d7da;
  position: relative;
}
.top_bar_wrap > .top_bar > .right > .link_box > .lang > li.active {
  color: black;
}
.top_bar_wrap > .top_bar > .right > .link_box > .lang > li:first-child::after {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #d6d7da;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

/* sub_top_bar_wrap st */

.top_bar_wrap > .top_bar > .nav_box > ul > li > .sub_top_bar_wrap {
  position: absolute;
  width: 100%;
  background-color: #fff;
  transition: 0.3s;
  font-weight: normal;
  line-height: 65px;
  left: 0;
  display: none;
}
.top_bar_wrap > .top_bar > .nav_box > ul > li:hover > .sub_top_bar_wrap {
  display: block;
}
.top_bar_wrap > .top_bar > .nav_box > ul > li:hover > .sub_top_bar_wrap > .sub_top_bar {
  display: inline-block;
  vertical-align: top;
}
.top_bar_wrap > .top_bar > .nav_box > ul > li:hover > .sub_top_bar_wrap > .sub_top_bar > li {
  line-height: 65px;
  margin: 0 15px;
  color: #d6d7da;
  transition: 0.2s;
}
.top_bar_wrap > .top_bar > .nav_box > ul > li:hover > .sub_top_bar_wrap > .sub_top_bar > li > a:hover {
  color: black;
  font-weight: bold;
}
.top_bar_wrap > .top_bar > .nav_box > ul > li:hover > .sub_top_bar_wrap > .sub_top_bar > li > a.active {
  color: black;
  font-weight: bold;
}

/* main_visual st */
.main_visual {
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 72px); /* 여기 왜 딱 맞게 안 되지? */
  background-color: #fee;
  padding-top: 72px;
  position: relative;
}
.main_visual > .slider_wrap > .slider .slick-dots {
  position: absolute;
  bottom: 6%;
}
.main_visual > .slider_wrap > .slider .slick-dots li {
  width: auto;
  height: auto;
}
/* .main_visual > .slider_wrap > .slider .slick-dots li button {
  width: auto;
  height: auto;
  padding: 0;
} */
.main_visual > .slider_wrap > .slider .slick-dots li.slick-active button {
  width: 20px;
}
.main_visual > .slider_wrap > .slider .slick-dots li button:before {
  display: none;
}
.main_visual > .slider_wrap > .slider .slick-dots li button {
  color: white;
  opacity: 0.5;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #fff;
  content:"";
  line-height: 8px;
  transition: 0.5s;
  padding: 0;
}
.main_visual > .slider_wrap > .slider .slick-dots li.slick-active button {
  opacity: 1;
  width: 20px;
}

.main_visual > .slider_wrap > .slider .content {
  position: relative;
}
.main_visual > .slider_wrap > .slider .content > a > .txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.main_visual > .slider_wrap > .slider .content > a > .txt > h1 {
  font-size: 25px;
  margin-bottom: 10%;
}
.main_visual > .slider_wrap > .slider .content > a > .txt > h2 {
  font-size: 70px;
}
.main_visual > .slider_wrap > .slider .content > a > .txt > p {
  display: inline-block;
  font-size: 70px;
  font-weight: bold;
  opacity: 0;
  transition: 0.3s;
}
.main_visual > .slider_wrap > .slider .content > a > .txt > p.space {
  margin-right: 20px;
}
.main_visual > .slider_wrap > .slider .content.active > a > .txt > p {
  opacity: 1;
}
.main_visual > .slider_wrap > .slider .content > a > .txt > h3 {
  margin-top: 10%;
  font-size: 21px;
}

/* section st */
.section {
  margin-top: 160px;
  margin-bottom: 25px;
  overflow: hidden;
}

/* title_txt st */
.section > .title_txt {
  text-align: center;
  margin-bottom: 60px;
}
.section > .title_txt > h4 {
  font-size: 36px;
  margin-bottom: 20px;
}
.section > .title_txt > h5 {
  font-weight: 400;
  font-size: 16px;
}

/* rolling st */
.section > .rolling > .slider2_wrap > .slider2 .content {
  border-radius: 10%;
  margin: 0 8px;
  position: relative;
  border: 1px solid #ccc;
  overflow: hidden;
}
.section > .rolling > .slider2_wrap > .slider2 .content::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,transparent 50%,rgba(0,0,0,.5));
}
.section > .rolling > .slider2_wrap > .slider2 .content:nth-child(2n) {
  margin-top: 30px;
}
.section > .rolling > .slider2_wrap > .slider2 .content > .img_box {
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  padding-bottom: 136.11%;
  border-radius: 5%;
}
.section > .rolling > .slider2_wrap > .slider2 .content > .txt {
  position: absolute;
  bottom: 8%;
  left: 6%;
  color: white;
  font-weight: bold;
  font-size: 15px;
}