/* 노멀라이징 */
*{
  margin: 0 ;
  padding: 0 ;
}
ul , li {
  list-style: none ;
}
a{
  color: inherit ;
  text-decoration: none ;
}
/* 라이브러리 */
.cell{
  float: left ;
}
.cell-r{
  float: right ;
}
.row::after{
  display: block;
  clear: both;
  content:"";
}
/* 스타일 */
@font-face {
  font-family: "HANNAPro";
  src: url(../font/BMHANNAPro.ttf);
}
body {
  color: #232324;
  font-family: 'Noto Sans KR', sans-serif;
}
.con {    
  max-width: 1180px;
  margin: 0 auto;
}
br.m {
  display: none;
}
br.pc {
  display: block;
}
/* top_bar_wrap st */
.top_bar_wrap {
  width: 100%;
  line-height: 72px;
  background-color: #fff;
  position: fixed;
  z-index: 99999;
  text-align: center;
}
.top_bar_wrap > .top_bar > .logo_box {
  height: 72px;
  width: 115px;
  position: relative;
  margin-right: 20px;
}
.top_bar_wrap > .top_bar > .logo_box > a > svg {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.top_bar_wrap > .top_bar > .nav_box {
  display: inline-block;
  vertical-align: top;
}
.top_bar_wrap > .top_bar > .nav_box > ul > li {
  padding: 0 17px;
  font-size: 15px;
}
.top_bar_wrap > .top_bar > .nav_box > ul > li:hover {
  font-weight: bold;
}
.top_bar_wrap > .top_bar > .right > .link_box > .link > li {
  padding: 0 12px;
}
.top_bar_wrap > .top_bar > .right > .link_box > .link > li > a > p {
  font-size: 12px;
  display: inline-block;
}
.top_bar_wrap > .top_bar > .right > .link_box > .link > li > a > svg {
  width: 8px;
  height: 8px;
  display: inline-block;
}
.top_bar_wrap > .top_bar > .right > .link_box > .lang > li > a {
  font-size: 12px;
  font-weight: bold;
  width: 36px;
  display: inline-block;
  text-align: center;
}
.top_bar_wrap > .top_bar > .right > .link_box > .lang > li {
  color: #d6d7da;
  position: relative;
}
.top_bar_wrap > .top_bar > .right > .link_box > .lang > li.active {
  color: black;
}
.top_bar_wrap > .top_bar > .right > .link_box > .lang > li:first-child::after {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #d6d7da;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

/* sub_top_bar_wrap st */

.top_bar_wrap > .top_bar > .nav_box > ul > li > .sub_top_bar_wrap {
  position: absolute;
  width: 100%;
  background-color: #fff;
  transition: 0.3s;
  font-weight: normal;
  line-height: 65px;
  left: 0;
  display: none;
}
.top_bar_wrap > .top_bar > .nav_box > ul > li:hover > .sub_top_bar_wrap {
  display: block;
}
.top_bar_wrap > .top_bar > .nav_box > ul > li:hover > .sub_top_bar_wrap > .sub_top_bar {
  display: inline-block;
  vertical-align: top;
}
.top_bar_wrap > .top_bar > .nav_box > ul > li:hover > .sub_top_bar_wrap > .sub_top_bar > li {
  line-height: 65px;
  margin: 0 15px;
  color: #d6d7da;
  transition: 0.2s;
}
.top_bar_wrap > .top_bar > .nav_box > ul > li:hover > .sub_top_bar_wrap > .sub_top_bar > li > a:hover {
  color: black;
  font-weight: bold;
}
.top_bar_wrap > .top_bar > .nav_box > ul > li:hover > .sub_top_bar_wrap > .sub_top_bar > li > a.active {
  color: black;
  font-weight: bold;
}

/* main_visual st */
.main_visual {
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 72px);
  background-color: #fee;
  padding-top: 72px;
  position: relative;
}
.main_visual > .slider_wrap > .slider .slick-dots {
  position: absolute;
  bottom: 6%;
}
.main_visual > .slider_wrap > .slider .slick-dots li {
  width: auto;
  height: auto;
}
/* .main_visual > .slider_wrap > .slider .slick-dots li button {
  width: auto;
  height: auto;
  padding: 0;
} */
.main_visual > .slider_wrap > .slider .slick-dots li.slick-active button {
  width: 20px;
}
.main_visual > .slider_wrap > .slider .slick-dots li button:before {
  display: none;
}
.main_visual > .slider_wrap > .slider .slick-dots li button {
  color: white;
  opacity: 0.5;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #fff;
  content:"";
  line-height: 8px;
  transition: 0.5s;
  padding: 0;
}
.main_visual > .slider_wrap > .slider .slick-dots li.slick-active button {
  opacity: 1;
  width: 20px;
}

.main_visual > .slider_wrap > .slider .content {
  position: relative;
}
.main_visual > .slider_wrap > .slider .content > a > .txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.main_visual > .slider_wrap > .slider .content > a > .txt > h1 {
  font-size: 25px;
  margin-bottom: 10%;
}
.main_visual > .slider_wrap > .slider .content > a > .txt > h2 {
  font-size: 70px;
  font-family: "HANNAPro";
  font-weight: normal;
  white-space: nowrap;
}
.main_visual > .slider_wrap > .slider .content > a > .txt > p {
  display: inline-block;
  font-size: 70px;
  opacity: 0;
  transition: 0.3s;
  font-family: "HANNAPro";
}
.main_visual > .slider_wrap > .slider .content > a > .txt > p.space {
  margin-right: 20px;
}
.main_visual > .slider_wrap > .slider .content.active > a > .txt > p {
  opacity: 1;
}
.main_visual > .slider_wrap > .slider .content > a > .txt > h3 {
  margin-top: 10%;
  font-size: 21px;
}
.main_visual > .slider_wrap > .slider .content > a > img {
  width: 100%;
  height: calc(100vh - 72px);
  object-fit: cover;
  object-position: center;
}
.main_visual > .slider_wrap > .slider .content > a > .pc_img {
  display: block;
}
.main_visual > .slider_wrap > .slider .content > a > .m_img {
  display: none;
}
/* section st */
.section {
  width: 100%;
  overflow: hidden;
}

/* title_txt st */
.section > .title_txt {
  margin-top: 160px;
  text-align: center;
  margin-bottom: 60px;
}
.section > .title_txt.last {
  margin-bottom: 160px;
}
.section > .title_txt > h4 {
  font-size: 36px;
  margin-bottom: 20px;
}
.section > .title_txt > h5 {
  font-weight: 400;
  font-size: 16px;
}

/* rolling st */
.section > .rolling1 {
  min-width: 1903px;
}
.section > .rolling1 > .slider2_wrap > .slider2 .content {
  border-radius: 10%;
  margin: 0 8px;
  position: relative;
  border: 1px solid #ccc;
  overflow: hidden;
}
.section > .rolling1 > .slider2_wrap > .slider2 .content::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,transparent 50%,rgba(0,0,0,.5));
}
.section > .rolling1 > .slider2_wrap > .slider2 .content:nth-child(2n) {
  margin-top: 30px;
}
.section > .rolling1 > .slider2_wrap > .slider2 .content > .img_box {
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  padding-bottom: 136.11%;
  border-radius: 5%;
}
.section > .rolling1 > .slider2_wrap > .slider2 .content:hover > .img_box {
  background-size: 120%;
}
.section > .rolling1 > .slider2_wrap > .slider2 .content > .txt {
  position: absolute;
  bottom: 8%;
  left: 6%;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.section > .video {
  width: 780px;
  margin: 0 auto;
  position: relative;
}
.section > .video > video{
  width: 100%;
}
.section > .video > .btn_wrap {
  width: 100%;
}
.section > .video > .btn_wrap > .btn {
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: none;
}
.section > .video > .btn_wrap > .btn:hover {
  cursor: pointer;
}
.section > .video:hover > .btn_wrap > .btn.active {
  display: block;
}
.section > .video > .btn_wrap > .btn > i {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.section > .video > .btn_wrap > .btn.pause > i {
  font-size: 40px;
}
.section > .video > .btn_wrap > .btn.start > i {
  font-size: 35px;
}

.section > .news {
  max-width: 820px;
  margin: 0 auto;
}
.section > .news > .lists > .list {
  padding: 40px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #f3f4f5;
}
.section > .news > .lists > .list:hover {
  background-color: #f3f4f580;
}
.section > .news > .lists > .list > a > .img_box {
  width: 200px;
  height: 160px;
  margin-right: 40px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.1);
}
.section > .news > .lists > .list > a > .img_box > img {
  width: 100%;
  transition: .5s;
}
.section > .news > .lists > .list:hover > a > .img_box > img {
  transform: scale(1.1);
}
.section > .news > .lists > .list > a > .txt > h3 {
  font-size: 20px;
  max-height: 64px;
  line-height: 1.6;
  margin-bottom: 10px;
}
.section > .news > .lists > .list > a > .txt > h4 {
  font-size: 16px;
  font-weight: 400;
  max-height: 52px;
  line-height: 1.625;
  margin-bottom: 10px;
}
.section > .news > .lists > .list > a > .txt > p {
  font-size: 14px;
  font-weight: 400;
  color: #a6a7a9;
}
.section > .news > .btn {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.section > .news > .btn > .btn_more {
  border: 0;
  background-color: #f3f4f5;
  height: 52px;
  line-height: 1.75;
  padding: 0 20px;
  margin: 40px 0;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.section > .news > .btn > .btn_more:hover {
  cursor: pointer;
}

.section.fonts {
  background-color: #232324;
  color: white;
  padding-bottom: 120px;
}
.section.fonts > .slider3_wrap {
  min-width: 1903px;
}
.section.fonts > .slider3_wrap > .slider3 > ul li {
  width: 160px;
  height: 128px;
  padding: 16px;
  box-sizing: border-box;
  background-color: #37373a;
  border-radius: 8px;
  position: relative;
  margin: 0 8px;
}
.section.fonts > .slider3_wrap > .slider3 > ul li > p {
  color: #6c6d6f;
  font-size: 16px;
  font-weight: 700;
}
.section.fonts > .slider3_wrap > .slider3 > ul li > svg {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.section.fonts > .btn {
  display: flex;
  justify-content: center;
}
.section.fonts > .btn > .btn_more {
  border: 1px solid white;
  background-color: rgba(0,0,0,.3);
  height: 52px;
  line-height: 1.75;
  padding: 0 20px;
  margin: 40px 0;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: white;
}
.section.fonts > .btn > .btn_more:hover {
  cursor: pointer;
}



/* wide_img st */
.wide_img {
  width: 100%;
  height: 680px;
  background-image: url("../img/season_1_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.wide_img > .txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.wide_img > .txt > h4 {
  font-size: 36px;
  line-height: 1.5;
  margin: 20px 0;
  white-space: nowrap;
}
.wide_img > .txt > h5 {
  margin: 20px 0;
}


/* footer st */
.footer {
  width: 100%;
  background-color: #f3f4f5;
  padding: 60px 24px 85px;
  box-sizing: border-box;
}
.footer > .con > .w100 {
  width: 100%;
}
.footer > .con > ul {
  display: flex;
  justify-content: space-between;
  line-height: 1.9;
}
.footer > .con > ul > li > a {
  font-weight: bold;
}
.footer > .con > ul > li > ul > li {
  font-size: 14px;
}
.footer > .con > .bottom {
  margin-top: 20px;
  line-height: 2;
  position: relative;
}
.footer > .con > .bottom > .txt > p {
  font-size: 14px;
}
.footer > .con > .bottom > select {
  padding: 13px 16px;
  border-radius: 8px;
  width: 327px;
  height: 50px;
  font-size: 14px;
  border: 1px solid #a6a7a9;
  position: absolute;
  right: 0;
  bottom: 0;
}



@media screen and (max-width: 980px) {
  .section > .video {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .main_visual > .slider_wrap > .slider .content > a > .pc_img {
    display: none;
  }
  .main_visual > .slider_wrap > .slider .content > a > .m_img {
    display: block;
  }
  .main_visual > .slider_wrap > .slider .content > a > .txt > h2 {
    font-size: 11vw;
    white-space: nowrap;
  }
  .main_visual > .slider_wrap > .slider .content > a > .txt > p {
    font-size: 11vw;
    transition: 0;
  }

  br.m {
    display: block;
  }
  br.pc {
    display: none;
  }

  .section > .title_txt > h4 {
    font-size: 30px;
    line-height: 1.4;
  }

  .section > .news > .lists > .list > a > .img_box {
    width: 100px;
    height: 80px;
    margin-right: 16px;
  }
  .section > .news > .lists > .list > a > .txt {
    width: calc(100% - 142px);
  }
  .section > .news > .lists > .list > a > .txt > h3 {
    max-height: 52px;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .section > .news > .lists > .list > a > .txt > p {
    font-size: 12px;
  }

  

}